BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 100
BinPackParameters: false
SortIncludes: CaseInsensitive
Standard: c++20
DerivePointerAlignment: false
PointerAlignment: Right
